
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/*MAP*/

.mapboxgl-map{
	
	width: 100%;
	height: 100%;
	align-self: center;
	
}

/* Flex */

.HzFlex{
	display: flex;
	flex-direction: row;
  width: 100%;
  height: 100%;
}

.HzFlexChild{
	
	width: 50%;
	height: 100%;
	display: block;
	
}

/*Container*/
.CenterPaddedContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.CenterPaddedContainerChild{
  padding: 0 10vmin 0 10vmin;
}

.table-justify{
  text-align: justify;
}

/*Auto Complete*/

.ac_container{
    position: absolute;
    background: white;
    padding: 5px;
    margin-right:100px;
    border: black 1px solid;
}
.ac_list{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ac_item{
}

.ac_text:hover{
  color: rgb(0, 123, 255);
  text-decoration: underline;
  cursor: pointer;
}

.ac_text{
  margin-left: 10px;
  padding: 2px;
}

